<%= form_with(model: time_log, local: true) do |form| %>
  <% if time_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(time_log.errors.count, "error") %> prohibited this time_log from being saved:</h2>

      <ul>
      <% time_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
