<tr>
  <td><%= time_log.date %></td>
  <td><%= time_log.start_time %></td>
  <td><%= time_log.end_time %></td>
  <td><%= time_log.duration %></td>
  <td><%= link_to 'Edit', edit_time_log_path(time_log) %></td>
  <td><%= link_to 'Destroy', time_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
