<p id="notice"><%= notice %></p>

<h1>My Time Logs</h1>

<%= time_log_button %>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @time_logs, cache: true %>
  </tbody>
</table>

<br>

