// Place all the styles related to the time_logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button {
  background: grey;
  padding: 15px;
  margin: 20px;
  border: 1px solid darkgrey;
  border-radius: 5px;
  display: inline-block;
}

