<!DOCTYPE html>
<html>
  <head>
    <title>TimeClock</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <ul>
      <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
    </ul>
  </nav>

  <body>
    <p class="notice"<%= notice %></p>
    <p class="alert"<%= alert %></p>
    <%= yield %>
  </body>
</html>
